@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: rick and morty;
  src: url('./assets/font/get_schwifty.ttf');
}

h1 {
  font-family: rick and morty;
  text-align: center;
  font-size: 3rem;
}

@media only screen and (max-width:510px) {
  h1 {
    font-size: 2rem;
  }
}